:root {
  --bg: #eee;
  --cardsStroke: ;
  --cardsBG: ;
  --cardsStroke2: ;
  --cardsDark: ;
  --cardsGray: ;
  --specialGray: ;
  --textWhite: ;
  --textDark: ;
  --links: ;
}
html {
  font-size: calc(1vw / 19.2);
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'HSE Sans', 'Helvetica Neue', Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  background-color: #eee;
  color: #000;
}
img {
  display: block;
}
h1 {
  font-weight: 600;
  font-size: 96rem;
  line-height: 100%;
}
h2 {
  font-weight: 400;
  font-size: 64rem;
  line-height: 118%;
}
h3 {
  font-size: 64rem;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 60rem;
}
h4 {
  font-size: 42rem;
  line-height: 110%;
  font-weight: 600;
}
h5 {
  font-size: 36rem;
  line-height: 110%;
  font-weight: 600;
}
p,
label,
a,
li {
  font-weight: 400;
  line-height: 130%;
  font-size: 20rem;
}
ul {
  list-style-type: disc;
  padding-left: 30rem;
}
.white {
  color: #e8e8e8;
}
.gray {
  color: #616161;
}
.big {
  color: #e8e8e8;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 24rem;
  line-height: 148%;
}
.base {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16rem;
  line-height: 148%;
  letter-spacing: 0.7%;
}
.jury {
  font-size: 15rem;
}
.blueBold {
  color: #1851c7;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16rem;
  line-height: 100%;
  text-decoration: none;
  margin-top: 20rem;
  display: inline-block;
}
section {
  display: flex;
}
#header {
  background-image: url('../images/headerBg.png');
  background-size: cover;
  flex-direction: column;
  gap: 520rem;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 30rem;
}
.headerInfo {
  display: flex;
  flex-direction: column;
  gap: 17rem;
}
.headerInfoItem {
  display: flex;
  justify-content: flex-end;
  gap: 10rem;
  font-size: 16rem;
}
.headerInfoItem p {
  font-size: 16rem;
  color: #fff;
}
.headerText {
  padding: 0 0 84rem 136rem;
}
.headerText p {
  margin: 30rem 0 80rem 0;
}
.button {
  background-color: #17181a;
  font-size: 16rem;
  letter-spacing: 2rem;
  width: 300rem;
  height: 60rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}
.headerButtons {
  display: flex;
  gap: 30rem;
}
.citeImage {
  width: 860rem;
  background-size: cover;
}
.citeImage.first {
  background-image: url('../images/cite.png');
}
.citeImage.second {
  background-image: url('../images/cite2.png');
}
.citeText {
  width: 1060rem;
  background-color: #393939;
  padding: 150rem 60rem 150rem 80rem;
  display: flex;
  flex-direction: column;
  gap: 20rem;
}
section.mainGray {
  flex-direction: column;
  gap: 60rem;
  align-items: center;
  justify-content: center;
  padding: 90rem 0;
}
.block {
  display: flex;
}
#forWhom .block {
  width: 84%;
  justify-content: space-between;
}
.card {
  display: flex;
}
#forWhom .card {
  width: 32.1%;
  padding: 16rem 10rem;
  gap: 40rem;
  flex-direction: column;
  align-items: center;
}
#forWhom h5 {
  text-align: center;
}
#forWhom p {
  text-align: center;
  padding: 10rem 30rem;
}
#forWhom img {
  width: 80%;
}
#benefits .block {
  gap: 20rem;
}
#benefits .card {
  width: 880rem;
  background-color: #fff;
}
#benefits .card img {
  width: 346rem;
}
.cardInfo {
  padding: 20rem 40rem 20rem 20rem;
  width: 534rem;
}
.cardInfo ul {
  padding: 10rem 0 20rem 30rem;
}
.cardInfo li {
  margin: 20rem 0;
}
#cite a {
  color: #fff;
}
#admission .block {
  width: 868rem;
  flex-direction: column;
  gap: 20rem;
  padding-right: 54rem;
  position: relative;
}
#admission .block::before {
  left: 30rem;
  top: 40rem;
  position: absolute;
  z-index: -1;
  content: '';
  height: calc(100% - 120rem);
  width: 1rem;
  background-color: #00000080;
}
#admission .cardWrapper {
  display: flex;
  gap: 20rem;
}
.cardNumber {
  color: #ddd;
  background-color: #191919;
  width: 60rem;
  height: 60rem;
  font-size: 36rem;
  font-weight: 600;
  line-height: 100%;
  padding: 12rem 0;
  text-align: center;
  margin-top: 40rem;
}
#admission .card {
  flex-direction: column;
  padding: 40rem 20rem;
}
